<html ng-app="fosApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>AppBuilder + Ionic</title>

    <script src="cordova.js"></script>
    <link href="http://code.ionicframework.com/1.0.0-beta.11/css/ionic.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/1.0.0-beta.11/js/ionic.bundle.js">
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script src="js/geo.js"></script>
    <script>
         var fosApp = angular.module( 'fosApp', ["ionic"])
            fosApp.factory('fosFactory', function($http) {
            return {
                getAssignments: function(callback) {
                    $http
                        .get('https://www.kinrep.com/foster/ws/virtualroomservice.asmx/getFOSAssignments', {
                            params: {
                                foscode: localStorage.getItem("FOSCode")
                            }
                        })
                    .success(callback)
                    .error(function() { alert('Check your internet connection'); });
                }
              };
        });
         fosApp.controller( "fosController", function( $scope, fosFactory ) {
               $scope.assignees = [];
               $scope.groups = [];
               $scope.dataLoading = true;
               $scope.noleads = false;
               $scope.uname = localStorage.getItem("FOSName");              
            fosFactory.getAssignments(function(results) {
                var d = results.replace('<?xml version="1.0" encoding="utf-8"?>', '').replace('<string xmlns="http://tempuri.org/">', '').replace('</string>', '');
                $scope.dataLoading = false;
                $scope.assignees = JSON.parse(d);
                if($scope.assignees.length == 0) {
                    $scope.noleads = true;
                }
                else if($scope.assignees.hasOwnProperty('BSLI') && Object.keys($scope.assignees['BSLI']).length == 0 && $scope.assignees.hasOwnProperty('MAXLIFE') && Object.keys($scope.assignees['MAXLIFE']).length == 0) {
                    $scope.noleads = true;
                }
                var ngrp = 0;
                if($scope.assignees.hasOwnProperty('BSLI')) {
                                $scope.groups[ngrp] = {
                  name: 'BSLI',
                  assignees: $scope.assignees['BSLI'],
                  show: false,
                  totleads: Object.keys($scope.assignees['BSLI']).length
                 };
                    ngrp++;
                    }
                if($scope.assignees.hasOwnProperty('MAXLIFE')) {
                $scope.groups[ngrp] = {
                  name: 'MAXLIFE',
                  assignees: $scope.assignees['MAXLIFE'],
                  show: false,
                  totleads: Object.keys($scope.assignees['MAXLIFE']).length
                                    
                };
                    ngrp++;
                    }

                });
               $scope.assignee_details = function(p, pn, r) {
                   localStorage.setItem("ActivePolicy", pn);
                   localStorage.setItem("ActiveProcess", p);
                   if(r == null)
                       window.location.href = 'cheque-pickup.html';
                   else
                       window.location.href = 'Deposit.html';
               }
              $scope.toggleGroup = function(group) {
                group.show = !group.show;
              };
              $scope.isGroupShown = function(group) {
                return group.show;
              };
             $scope.search = function() {
                
              }
        });
    </script>
</head>
<body ng-controller="fosController">
    <ion-header-bar class="bar bar-positive">
        <!--<h1 class="title">Your Assignments</h1>-->
        <img src="images/logo.png">
    </ion-header-bar>
    <ion-content overflow-scroll="true">
            <div class="bar bar-header">
                <span id="spnuname" style="float:right" >{{ 'Welcome ' + uname + '!' }}</span><br/>
            </div>
       <div class="bar bar-header item-input-inset">
          <input type="text" placeholder=" Search" ng-model="filters.policy_no" 
                  style="width:100%; padding-left:11px;" />
      </div> 
            <div ng-if="dataLoading">
                Loading...
            </div>
            <div ng-if="noleads">
                No Leads.
            </div>
        <ion-list>
            <div ng-repeat="group in groups">
                <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name + ' (Pending: ' + group.totleads + ')'}}
          </ion-item>
                <ion-item class="item-stable item-icon-right" ng-repeat="assignee in group.assignees | filter:filters track by $index" item="assignee" ng-click="assignee_details(assignee.company, assignee.policy_no, assignee.receipt_no)" ng-show="isGroupShown(group)">
                <h2>{{ assignee.owner_name }}</h2>
                <p>{{ 'POLICY NO: ' + assignee.policy_no }}</p><p>{{ 'PINCODE: ' + assignee.pin_code }}</p><br\>
                <p>{{ 'Appt. Date: ' + assignee.appointment_date + ' ' + assignee.appointment_time }}</p>    
                                        <i class="icon ion-star" ng-if="assignee.receipt_no"></i>
            </ion-item>
                </div>
        </ion-list>
    </ion-content>
        </body>
</html>